.App-gameContainer {
    outline: none;
    margin: 5% 2%;
    width: 95%;
    max-width: 800px;
    height: 90%;
    height: calc(100% - 150px);
    max-height: 1000px;
    display: flex;
    border: 2px solid black;
}

.App-gameField {
    outline: none;
    margin: 5px;
    justify-content: center;
    overflow: hidden;
    flex: 70%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.App-scoreField {
    overflow: hidden;
    text-align: center;
    border-left: 1px solid #333;
    flex: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App-gameFieldSquare {
    box-sizing: border-box;
    background-color: black;
    border: 1px solid rgb(58, 150, 46);
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

.App-gameFieldSquare.active {
    background-color: #015a07;
}