.App-gameContainer {
    outline: none;
    margin: 5% 2%;
    width: 95%;
    min-width: 600px;
    height: 90%;
    height: calc(100% - 150px);
    max-height: 1000px;
    display: flex;
    border: 2px solid black;
}

.App-gameField {
    position: relative;
    min-width: 400px;
    outline: none;
    margin: 5px;
    justify-content: center;
    flex: 70%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.App-scoreField {
    min-width: 200px;
    text-align: center;
    border-left: 1px solid #333;
    flex: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App-gameFieldSquare {
    box-sizing: border-box;
    background-color: black;
    border: 1px solid rgb(58, 150, 46);
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

.App-gameFieldSquare.active {
    background-color: #015a07;
}

.App-controlButton{
    display: none;
    background-size: contain;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.App-controlButton.startButton{
    display: block;
    background-image: url(/start_button.png);
}