.App {
  text-align: center;
}

.App-body {
  background: linear-gradient(to top right, #282c34, #777);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}